@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.woff2") format("woff2"),
    url("/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.woff2") format("woff2"),
    url("/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "ClashDisplay-SemiBold";
  src: url("/fonts/ClashDisplay-Semibold.woff2") format("woff2"),
    url("/fonts/ClashDisplay-Semibold.woff") format("woff");
}

:root {
  --body-regular: "Montserrat-Regular", sans-serif;
  --body-bold: "Montserrat-Bold", sans-serif;
  --heading: "ClashDisplay-SemiBold", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
  font-family: var(--body-regular);
}

body.darkmode {
  background-color: #171717;
  color: #fff;
}

body.darkmode .test {
  color: #fff;
}

body.darkmode .test-bg {
  background-color: #a2961b;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.logo-small span {
  display: block;
  font-family: var(--heading);
  line-height: 16px;
  font-size: 15px;
  text-align: left;
}

.logo-medium span {
  display: block;
  font-family: var(--heading);
  line-height: 26px;
  font-size: 28px;
  text-align: left;
}

.logo-large span {
  display: block;
  font-family: var(--heading);
  line-height: 41px;
  font-size: 38px;
  text-align: left;
}

.logo-xl span {
  display: block;
  font-family: var(--heading);
  line-height: 64px;
  font-size: 60px;
  text-align: left;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection,
a::selection,
span::selection {
  color: #000;
  background: #f7e733;
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #111827;
    color: #fff;
  }
} */
