---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = "Test sidan";
let description = "test description";
let permalink = "https://localhost.com";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout
  {title}
  {description}
  {permalink}
  canonicalURL={Astro.request.canonicalURL.href}
>
  <p>Main</p>
</BaseLayout>

<style>
  header {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: min(100%, 68ch);
  }
</style>
