---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import Slider from "../components/Slider.astro";
import DesktopButton from "../components/DesktopButton.astro";
import ContactUsButton from "../components/ContactUsButton.astro";
// You can import components from any supported Framework here!

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
const title = "Future Experience Lab";
const description =
  "Future Experience Lab är en experimentverkstad för att provköra framtiden. Och skapa den.";
const permalink = "https://exlab.netlify.app/";
// const image = "/public/images/48h.jpg";

const images = [
  "/src/images/48h.jpg",
  "/src/images/akaden.jpg",
  "/src/images/alfonz.jpg",
  "/src/images/frihamn.jpg",
  "/src/images/inner.jpg",
  "/src/images/silvia.jpg",
  "/src/images/tjol.jpg",
  "/src/images/westp.jpg",
];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout
  {title}
  {description}
  canonicalURL={Astro.request.canonicalURL.href}
>
  <p>Main</p>
  <Slider client:visible {images} />
  <DesktopButton />
  <ContactUsButton />
</BaseLayout>

<style>

</style>
