---
import MainButton from "../components/MainButton.astro";

const buttontexts = "Kontakta oss";
---

<section title="kontakta oss">
  <div class="svg-wrapper">
    <svg
      width="421"
      height="422"
      viewBox="0 0 261 422"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="15"
        y="15"
        width="391"
        height="392"
        rx="195.5"
        stroke="#DAF1F8"
        stroke-width="30"></rect>
    </svg>
  </div>
  <div class="section-wrapper">
    <div class="image-wrapper">
      <img src="/src/images/contact-section.png" alt="" />
    </div>
    <div class="yellow-parent">
      <span class="style-span-small test-bg"></span>
      <span class="style-span-large test-bg"></span>
    </div>
    <div class="content-wrapper">
      <h2 class="test">
        <span class="text-span">Provkör din</span><span class="text-span"
          >verksamhets framtid</span
        >
      </h2>
      <div class="body-text">
        <h3>
          Behöver du också ett Future Experience Lab för din verksamhets
          framtid? Kontakta oss!
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Risus
          ultrices pellentesque pellentesque ultricies lacus, dui elementum
          eleifend.
        </p>
        <MainButton buttontext={buttontexts} />
      </div>
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    width: 100%;
    padding-bottom: 64px;
  }
  .yellow-parent {
    position: relative;
  }

  h2 {
    position: absolute;
    font-family: var(--heading);
    font-size: 32px;
    line-height: 29px;
    z-index: 5;
  }

  h3 {
    font-family: var(--body-bold);
    font-size: 16px;
    line-height: 24px;
    padding-top: 110px;
  }

  p {
    font-family: var(--body);
    font-size: 16px;
    line-height: 24px;
    padding: 16px 0 32px 0;
  }
  .text-span {
    display: block;
  }

  .content-wrapper {
    max-width: 500px;
    padding-right: 16px;
    padding-left: 24px;
  }
  .svg-wrapper {
    display: none;
  }
  .image-wrapper {
    position: relative;
    z-index: -2;
  }

  .style-span-small {
    position: absolute;
    height: 110px;
    width: 16px;
    background-color: #f7e733;
    left: 0;
  }

  .style-span-large {
    position: absolute;
    height: 110px;
    width: 78%;
    background-color: #f7e733;
    right: 0;
    bottom: -75px;
  }

  @media screen and (min-width: 850px) {
    section {
      position: relative;
      width: 100%;
      height: 800px;
    }
    .image-wrapper {
      padding-left: 64px;
      position: absolute;
      bottom: 0;
    }

    h2 {
      font-size: 64px;
      line-height: 62px;
      max-width: 648px;
      z-index: 3;
      position: absolute;
      left: 20.5%;
      top: 19%;
    }
    h3 {
      font-size: 20px;
      padding-bottom: 20px;
      padding-right: 10px;
      line-height: 30px;
    }

    p {
      padding-right: 10px;
      line-height: 30px;
      padding-bottom: 20px;
    }

    .yellow-parent {
      position: absolute;
    }

    .style-span-small {
      position: absolute;
      height: 180px;
      width: 32px;
      background-color: #f7e733;
      left: 163px;
      top: 152px;
    }
    .style-span-large {
      position: absolute;
      height: 180px;
      width: 358px;
      background-color: #f7e733;
      left: 414px;
      top: 152px;
    }
    .body-text {
      position: absolute;
      padding-left: 10%;
      max-width: 375px;
      bottom: 6%;
      right: 65px;
    }
    .image-wrapper img {
      width: 320px;
      height: 718px;
      object-fit: cover;
      z-index: 1;
    }
  }
  @media screen and (min-width: 1000px) {
    .image-wrapper img {
      width: 533px;
      height: 718px;
      object-fit: cover;
      z-index: 1;
    }
  }
  @media screen and (min-width: 1150px) {
    .body-text {
      position: absolute;
      padding-left: 0;
      max-width: 494px;
      padding-bottom: 90px;
      right: 50px;
    }
    .svg-wrapper {
      position: absolute;
      top: 8%;
      right: 0;
      display: block;
    }
  }

  @media screen and (min-width: 1350px) {
    h2 {
      max-width: 688px;
      left: 14%;
      top: 23%;
    }
    .body-text {
      position: absolute;
      padding-left: 0;
      max-width: 494px;
      padding-bottom: 90px;
      right: 257px;
    }
  }
</style>
