<section title="unik copy text">
  <div class="bg">
    <div class="max-w-wrapper">
      <h2>
        We’re a rare blend of creative grit and calculated impact.<span
          >Beauty and brains.</span
        >
      </h2>
    </div>
  </div>
</section>

<style>
  section {
    width: 100%;
    height: 390px;
  }

  .bg {
    width: 100%;
    height: 100%;
    background-color: #f82250;
  }

  .max-w-wrapper {
    max-width: 90rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .max-w-wrapper h2 {
    font-family: var(--heading);
    color: #fff;
    font-size: 48px;
    line-height: 45px;
    text-align: center;
    max-width: 860px;
  }

  h2 span {
    display: block;
  }
</style>
