---
import Logo from "../components/Logo.astro";

const date = new Date().getFullYear();
---

<footer>
  <div class="content-wrapper">
    <div class="logo-wrapper logo-medium">
      <Logo />
    </div>
    <h2>
      <span>Tillsammans provkör vi</span><span>framtiden, och skapar den</span>
    </h2>
    <div class="flex-wrapper">
      <div class="logo-wrapper logo-xl">
        <Logo />
      </div>
      <div class="contact">
        <h4>KONTAKT</h4>
        <ul>
          <li>
            <a href="mailto:fel@futureexpierencelab.com"
              ><p>fel@futureexpierencelab.com</p></a
            >
          </li>
          <li><p>070-384 96 00</p></li>
        </ul>
      </div>
      <div class="pages">
        <h4>SIDOR</h4>
        <ul>
          <li class="nav-link"><a href="#">Hem</a></li>
          <li class="nav-link"><a href="#">LABS</a></li>
          <li class="nav-link"><a href="#">Partners</a></li>
          <li class="nav-link"><a href="#">Om oss</a></li>
          <li class="nav-link"><a href="#">Kontakt</a></li>
        </ul>
      </div>
    </div>
    <p class="copyright">&copy Future Experience Lab {date}</p>
  </div>
</footer>

<style>
  footer {
    font-family: var(--body-regular);
    background-color: #080808;
    width: 100%;
  }

  h2 {
    font-family: var(--heading);
    font-size: 24px;
    line-height: 22px;
    color: #fff;
    padding-top: 32px;
  }

  h2 span {
    display: block;
  }

  h4 {
    color: #fff;
    font-family: var(--body-bold);
    font-size: 16px;
    line-height: 24px;
  }

  p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
  }

  .logo-xl {
    display: none;
  }

  .logo-medium {
    display: block;
    padding-top: 188px;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  .nav-link {
    padding-top: 24px;
  }

  li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  .contact h4 {
    padding: 32px 0 24px 0;
  }
  .pages {
    padding-top: 32px;
  }

  .copyright {
    padding: 32px 0px 64px 0px;
  }

  @media screen and (min-width: 850px) {
    h2 {
      font-family: var(--heading);
      font-size: 48px;
      line-height: 45px;
      color: #fff;
      padding-top: 188px;
      padding-left: 50px;
    }
    .logo-xl {
      display: block;
      padding-left: 50px;
      padding-top: 76px;
    }

    .logo-medium {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    li a {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      padding-bottom: 8px;
    }

    .nav-link {
      padding-top: 8px;
    }
    .contact {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 143px;
    }

    .pages {
      display: flex;
      flex-direction: column;
      padding-right: 50px;
    }
    .copyright {
      display: flex;
      justify-content: center;
      padding-bottom: 32px;
    }

    .flex-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  @media screen and (min-width: 1200px) {
    .pages {
      padding-right: 175px;
    }
    .logo-xl {
      padding-left: 175px;
    }
    h2 {
      padding-left: 175px;
    }
  }
</style>
