---
import Logo from '../components/Logo.astro';

const date = new Date().getFullYear();
---

<footer>
  <div class="content-wrapper">
    <div class="logo-wrapper logo-medium">
      <Logo />
    </div>
    <div class="flex-wrapper">
      <div class="logo-wrapper logo-xl">
        <Logo />
        <p class="copyright-desktop">&copy Future Experience Lab {date}</p>
      </div>
      <div class="contact">
        <h2>KONTAKT</h2>
        <ul>
          <li>
            <a href="mailto:fel@futureexpierencelab.com"
              >fel@futureexpierencelab.com</a
            >
          </li>
          <li><a href="tel:070-384 96 00">070-384 96 00</a></li>
        </ul>
      </div>
      <div class="pages">
        <h2>SIDOR</h2>
        <ul>
          <li class="nav-link"><a href="#">Hem</a></li>
          <li class="nav-link"><a href="#">LABS</a></li>
          <li class="nav-link"><a href="#">Partners</a></li>
          <li class="nav-link"><a href="#">Om oss</a></li>
          <li class="nav-link"><a href="#">Kontakt</a></li>
        </ul>
      </div>
      <p class="copyright-mobile">&copy Future Experience Lab {date}</p>
    </div>
  </div>
</footer>

<style>
  footer {
    font-family: var(--body-regular);
    background-color: #080808;
    width: 100%;
  }

  h2 {
    color: #fff;
    font-family: var(--body-bold);
    font-size: 16px;
    line-height: 24px;
  }

  .content-wrapper {
    padding-left: 16px;
    max-width: 90rem;
    margin: 0 auto;
    position: relative;
  }

  p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
  }

  .logo-xl {
    display: none;
  }

  .logo-medium {
    display: block;
    padding-top: 64px;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  .nav-link {
    padding-top: 24px;
  }

  li {
    text-decoration: none;
  }

  li a:hover {
    color: #f7e733;
  }

  li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  .contact h2 {
    padding: 24px 0 16px 0;
  }
  .pages {
    padding-top: 16px;
  }

  .copyright-mobile {
    display: block;
    padding: 24px 0px 32px 0px;
  }

  .copyright-desktop {
    display: none;
  }

  @media screen and (min-width: 850px) {
    .logo-xl {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 50px;
      padding-top: 79px;
    }

    .logo-medium {
      display: none;
    }

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    li a {
      text-decoration: none;
      color: #fff;
      font-size: 20px;
      padding-bottom: 8px;
    }

    .nav-link {
      padding-top: 8px;
    }
    .contact {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-top: 143px;
    }

    .pages {
      display: flex;
      flex-direction: column;
      padding-right: 50px;
    }
    .copyright-desktop {
      padding-top: 66px;
      padding-bottom: 0;
      display: block;
      font-size: 20px;
    }

    .copyright-mobile {
      display: none;
    }

    .flex-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }
    .content-wrapper {
      padding-bottom: 88px;
    }
  }

  @media screen and (min-width: 1200px) {
    .pages {
      padding-right: 175px;
    }
    .logo-xl {
      padding-left: 175px;
    }
  }
</style>
