<section title="hero">
  <div class="image-wrapper">
    <img src="/src/images/griffel.webp" alt="" />
  </div>
  <div class="max-w-wrapper">
    <div class="hero-img">
      <img src="/src/images/hero.webp" alt="" />
    </div>
    <div class="hero-text">
      <h1>Bryt det gamla, starta det nya och provkör framtiden</h1>
    </div>
    <div class="red-rect"></div>
    <div class="rect-svg">
      <svg
        width="172"
        height="233"
        viewBox="0 0 172 233"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle cx="2.36542" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="2.36542" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="17.5717" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="32.778" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="47.9843" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="63.1906" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="78.3969" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="93.6031" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="108.809" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="124.016" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="139.222" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="154.428" cy="230.46" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="2.36542" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="17.5717" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="32.778" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="47.9843" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="63.1906" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="78.3967" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="93.6032" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="108.81" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="124.016" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="139.222" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="154.428" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="169.634" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="184.841" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="200.047" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="215.253" r="2.36542" fill="#F7E733"></circle>
        <circle cx="169.635" cy="230.46" r="2.36542" fill="#F7E733"></circle>
      </svg>
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    width: 100%;
    height: 650px;
  }

  .max-w-wrapper {
    max-width: 100rem;
    margin: 0 auto;
    position: relative;
    height: 650px;
  }

  .image-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .image-wrapper img {
    width: 100%;
    height: 510px;
    object-fit: cover;
  }

  .hero-img img {
    position: absolute;
    left: 50%;
    top: 13%;
    transform: translateX(-50%);
    height: 718px;
    width: 1090px;
    object-fit: cover;
  }

  .hero-text {
    position: absolute;
    left: 60px;
    top: 19%;
  }

  .hero-text h1 {
    font-family: var(--heading);
    color: #fff;
    font-size: 64px;
    line-height: 62px;
    max-width: 725px;
  }

  .red-rect {
    position: absolute;
    height: 179px;
    width: 360px;
    left: 60px;
    bottom: -16%;
    background-color: #f82250;
    mix-blend-mode: multiply;
  }

  .rect-svg {
    position: absolute;
    bottom: 3%;
    right: 6%;
    z-index: 2;
  }
</style>
