---
import MainButton from "../components/MainButton.astro";

const buttontexts = "Läs mer";
---

<section title="intro">
  <div class="max-w-wrapper">
    <div class="dotted-top-svg">
      <svg
        width="388"
        height="388"
        viewBox="0 0 388 388"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="194"
          cy="194"
          r="192"
          stroke="#F82250"
          stroke-width="4"
          stroke-linecap="round"
          stroke-dasharray="20 20"></circle>
      </svg>
    </div>
    <div class="tram-img">
      <img src="/src/images/intro-tram.webp" alt="" />
    </div>
    <div class="dotted-left-svg">
      <svg
        width="388"
        height="388"
        viewBox="0 0 388 388"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="194"
          cy="194"
          r="192"
          stroke="#F82250"
          stroke-width="4"
          stroke-linecap="round"
          stroke-dasharray="20 20"></circle>
      </svg>
    </div>
    <div class="empty-circle-svg">
      <svg
        width="421"
        height="422"
        viewBox="0 0 421 422"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="15"
          y="15"
          width="391"
          height="392"
          rx="195.5"
          stroke="#DAF1F8"
          stroke-width="30"></rect>
      </svg>
    </div>
    <div class="postit-img">
      <img src="/src/images/intro-postit.webp" alt="" />
    </div>
    <div class="red-rect"></div>
    <span class="style-span-small test-bg"></span>
    <div class="header">
      <h2>
        <span class="text-span test"
          >Future Experience Lab är en experimentverkstad för att provköra
          framtiden och skapa den</span
        >
      </h2>
    </div>
    <span class="style-span-large test-bg"></span>
    <div class="rect-svg">
      <svg
        width="233"
        height="172"
        viewBox="0 0 233 172"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          cx="2.36542"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 2.36542 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 17.5717 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 32.778 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 47.9843 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 63.1906 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 78.3968 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 93.6032 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 108.809 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 124.016 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 139.222 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 154.428 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 169.635 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 184.841 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 200.047 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 215.253 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="169.635"
          r="2.36542"
          transform="rotate(-90 230.46 169.635)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 2.36542 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 17.5717 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 32.778 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 47.9843 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 63.1906 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 78.3968 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 93.6032 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 108.809 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 124.016 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 139.222 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 154.428 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 169.635 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 184.841 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 200.047 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 215.253 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="154.428"
          r="2.36542"
          transform="rotate(-90 230.46 154.428)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 2.36542 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 17.5717 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 32.778 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 47.9843 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 63.1906 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 78.3968 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 93.6032 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 108.809 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 124.016 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 139.222 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 154.428 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 169.635 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 184.841 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 200.047 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 215.253 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="139.222"
          r="2.36542"
          transform="rotate(-90 230.46 139.222)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 2.36542 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 17.5717 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 32.778 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 47.9843 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 63.1906 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 78.3968 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 93.6032 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 108.809 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 124.016 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 139.222 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 154.428 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 169.635 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 184.841 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 200.047 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 215.253 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="124.016"
          r="2.36542"
          transform="rotate(-90 230.46 124.016)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 2.36542 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 17.5717 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 32.778 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 47.9843 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 63.1906 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 78.3968 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 93.6032 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 108.809 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 124.016 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 139.222 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 154.428 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 169.635 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 184.841 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 200.047 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 215.253 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="108.809"
          r="2.36542"
          transform="rotate(-90 230.46 108.809)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 2.36542 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 17.5717 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 32.778 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 47.9843 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 63.1906 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 78.3968 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 93.6032 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 108.809 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 124.016 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 139.222 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 154.428 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 169.635 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 184.841 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 200.047 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 215.253 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="93.6031"
          r="2.36542"
          transform="rotate(-90 230.46 93.6031)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 2.36542 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 17.5717 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 32.778 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 47.9843 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 63.1906 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 78.3968 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 93.6032 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 108.809 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 124.016 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 139.222 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 154.428 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 169.635 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 184.841 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 200.047 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 215.253 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="78.3969"
          r="2.36542"
          transform="rotate(-90 230.46 78.3969)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 2.36542 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 17.5717 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 32.778 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 47.9843 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 63.1906 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 78.3968 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 93.6032 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 108.809 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 124.016 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 139.222 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 154.428 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 169.635 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 184.841 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 200.047 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 215.253 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="63.1906"
          r="2.36542"
          transform="rotate(-90 230.46 63.1906)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 2.36542 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 17.5717 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 32.778 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 47.9843 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 63.1906 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 78.3968 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 93.6032 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 108.809 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 124.016 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 139.222 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 154.428 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 169.635 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 184.841 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 200.047 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 215.253 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="47.9843"
          r="2.36542"
          transform="rotate(-90 230.46 47.9843)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 2.36542 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 17.5717 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 32.778 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 47.9843 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 63.1906 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 78.3968 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 93.6032 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 108.809 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 124.016 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 139.222 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 154.428 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 169.635 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 184.841 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 200.047 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 215.253 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="32.778"
          r="2.36542"
          transform="rotate(-90 230.46 32.778)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 2.36542 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 17.5717 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 32.778 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 47.9843 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 63.1906 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 78.3968 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 93.6032 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 108.809 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 124.016 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 139.222 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 154.428 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 169.635 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 184.841 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 200.047 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 215.253 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="17.5717"
          r="2.36542"
          transform="rotate(-90 230.46 17.5717)"
          fill="#6AC5E2"></circle>
        <circle
          cx="2.36542"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 2.36542 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="17.5717"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 17.5717 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="32.778"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 32.778 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="47.9843"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 47.9843 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="63.1906"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 63.1906 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="78.3968"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 78.3968 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="93.6032"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 93.6032 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="108.809"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 108.809 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="124.016"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 124.016 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="139.222"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 139.222 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="154.428"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 154.428 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="169.635"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 169.635 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="184.841"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 184.841 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="200.047"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 200.047 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="215.253"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 215.253 2.36541)"
          fill="#6AC5E2"></circle>
        <circle
          cx="230.46"
          cy="2.36541"
          r="2.36542"
          transform="rotate(-90 230.46 2.36541)"
          fill="#6AC5E2"></circle>
      </svg>
    </div>
    <div class="body-text">
      <p>
        Future Experience Lab är ett innovationsinitiativ för att stärka
        upplevelsedestinationen Göteborg med särskilt fokus på hybridupplevelser
        som bidrar till samhällsförändring.
      </p>
      <MainButton buttontext={buttontexts} />
    </div>
  </div>
</section>

<style>
  section {
    position: relative;
    width: 100%;
    height: 1400px;
  }

  .max-w-wrapper {
    max-width: 100rem;
    margin: 0 auto;
    position: relative;
    height: 1400px;
    padding: 0 60px;
  }

  .tram-img img {
    position: absolute;
    left: 20%;
    top: 1%;
    width: 310px;
    height: 510px;
    object-fit: cover;
    z-index: 1;
  }

  .dotted-top-svg {
    position: absolute;
    top: -6%;
    left: 22%;
    z-index: -2;
  }

  .dotted-left-svg {
    position: absolute;
    top: 21%;
    left: 10%;
    z-index: -2;
  }

  .empty-circle-svg {
    position: absolute;
    top: 17%;
    right: 20%;
    z-index: -2;
  }

  .postit-img img {
    position: absolute;
    right: 14%;
    bottom: 31%;
    width: 865px;
    height: 510px;
    object-fit: cover;
    z-index: -1;
  }

  .red-rect {
    position: absolute;
    height: 179px;
    width: 360px;
    right: 60px;
    top: 38%;
    background-color: #f82250;
    mix-blend-mode: multiply;
  }

  .header {
    z-index: 3;
    position: absolute;
    left: 12%;
    bottom: 38%;
    max-width: 570px;
  }

  .header h2 {
    color: #000;
    font-family: var(--heading);
    font-size: 32px;
    line-height: 35px;
  }

  .style-span-small {
    position: absolute;
    height: 180px;
    width: 32px;
    background-color: #f7e733;
    left: 8%;
    bottom: 35%;
  }

  .style-span-large {
    position: absolute;
    height: 180px;
    width: 390px;
    background-color: #f7e733;
    left: 24%;
    bottom: 35%;
  }

  .rect-svg {
    position: absolute;
    bottom: 21%;
    right: 18%;
    z-index: -2;
  }

  .body-text {
    position: absolute;
    max-width: 550px;
    bottom: 14%;
    left: 25%;
  }

  .body-text p {
    font-size: 20px;
    padding-right: 10px;
    line-height: 30px;
    padding-bottom: 20px;
  }

  .test {
    color: #000;
  }

  .test-bg {
    background-color: a2961b;
  }
</style>
