<div class="logo-text">
  <a href="/"
    ><span class="logo-first">Future</span><span class="logo-second"
      >Experience</span
    ><span class="logo-third">Lab</span></a
  >
</div>

<style>
  a {
    text-decoration: none;
  }
  .logo-text a {
    color: #fff;
  }

  .logo-text a:hover {
    color: #bdbdbd;
  }

  .logo-first::after {
    content: ".";
    color: #f82250;
  }

  .logo-second::after {
    content: ".";
    color: #f7e733;
  }

  .logo-third::after {
    content: ".";
    color: #6ac5e2;
  }
</style>
