---
export interface Props {
  buttontext: string;
}

const { buttontext } = Astro.props;
---

<a href="/">
  <div class="btn-wrapper">
    <div class="btn-text">{buttontext}</div>
    <span></span>
    <div class="button">
      <svg
        width="17"
        height="30"
        viewBox="0 0 17 30"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0 25.4998L10.5 14.9998L0 4.49981L2.1 0.299805L16.8 14.9998L2.1 29.6998L0 25.4998Z"
          fill="#F2F2F2"></path>
      </svg>
    </div>
  </div>
</a>

<style>
  span {
    height: 42px;
    background: #ec839a;
    width: 12px;
    display: inline-block;
  }

  .button {
    height: 42px;
    width: 42px;
    background-color: #f82250;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
  }

  .btn-wrapper {
    display: inline-block;
    margin: 0;
    border: none;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: white;
  }

  .btn-text {
    font-family: var(--body-bold);
    font-size: 16px;
    color: #f82250;
    padding: 0 15px;
  }

  @media screen and (min-width: 600px) {
    span {
      height: 46px;
    }

    .btn-text {
      font-size: 20px;
    }

    .button {
      height: 46px;
    }
  }
</style>
