<nav class="navigation">
  <div>
    <a href="/">LOGO</a>
  </div>
  <div>
    <ul id="menu" hidden>
      <li class="nav-link-home"><a href="#">Home</a></li>
      <li class="nav-link"><a href="#">LAB</a></li>
      <li class="nav-link"><a href="#">Partners</a></li>
      <li class="nav-link"><a href="#">Om oss</a></li>
      <li class="nav-link-icon">
        <a href="#"
          ><svg
            width="23.85"
            height="23.85"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.6124 9.64929C14.6347 10.6269 13.3088 11.1762 11.9262 11.1762C10.5436 11.1762 9.2176 10.6269 8.23996 9.64929C7.26232 8.67165 6.71308 7.34568 6.71308 5.96308C6.71308 4.58049 7.26232 3.25452 8.23996 2.27688C9.2176 1.29923 10.5436 0.75 11.9262 0.75C13.3088 0.75 14.6347 1.29923 15.6124 2.27688C16.59 3.25452 17.1392 4.58049 17.1392 5.96308C17.1392 7.34568 16.59 8.67165 15.6124 9.64929ZM23.1023 21.8646C23.1023 22.2303 23.0131 22.4547 22.9177 22.5978C22.8192 22.7455 22.6826 22.8533 22.5231 22.9331C22.3607 23.0143 22.1891 23.0586 22.0519 23.0815C21.9851 23.0926 21.931 23.0979 21.8966 23.1004C21.8795 23.1016 21.8677 23.1021 21.862 23.1023C21.8611 23.1023 21.8603 23.1023 21.8598 23.1023H1.99258C1.992 23.1023 1.99126 23.1023 1.99036 23.1023C1.98464 23.1021 1.9728 23.1016 1.95572 23.1004C1.92131 23.0979 1.86725 23.0926 1.80042 23.0815C1.66319 23.0586 1.49168 23.0143 1.32926 22.9331C1.16977 22.8533 1.03309 22.7455 0.934615 22.5978C0.839266 22.4547 0.75 22.2303 0.75 21.8646C0.75 21.0634 1.17233 19.2684 2.76649 17.6742C4.33866 16.102 7.1151 14.6639 11.9262 14.6639C16.7372 14.6639 19.5137 16.102 21.0858 17.6742C22.68 19.2684 23.1023 21.0634 23.1023 21.8646ZM21.8582 23.1024H21.8583C21.8582 23.1024 21.8581 23.1024 21.8582 23.1024ZM1.99409 23.1024C1.9942 23.1024 1.99418 23.1024 1.99402 23.1024H1.99409Z"
              stroke="white"
              stroke-width="1.5"></path>
          </svg> Logga in/Bli medlem</a
        >
      </li>
      <li class="nav-link-login">
        <a href="#">Logga in</a>
      </li>
      <li class="nav-link-dm">
        <button class="dark-mode-toggle" aria-label="toggle scheme color"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-moon"
            ><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
            ></path></svg
          ></button
        >
      </li>
      <li class="nav-link-search">
        <a href="#">
          <svg
            width="24"
            height="24"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M29 28.9051L22.8613 22.7779L29 28.9051ZM26.2632 14.5891C26.2632 17.6628 25.0377 20.6105 22.8563 22.7839C20.675 24.9573 17.7165 26.1783 14.6316 26.1783C11.5467 26.1783 8.58816 24.9573 6.40681 22.7839C4.22547 20.6105 3 17.6628 3 14.5891C3 11.5155 4.22547 8.56776 6.40681 6.39438C8.58816 4.22099 11.5467 3 14.6316 3C17.7165 3 20.675 4.22099 22.8563 6.39438C25.0377 8.56776 26.2632 11.5155 26.2632 14.5891V14.5891Z"
              stroke="white"
              stroke-width="4.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          ></a
        >
      </li>

      <li class="nav-link-icon">
        <label for="search"></label>
        <div class="input-serach">
          <svg
            width="15"
            height="14.95"
            viewBox="0 0 32 32"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M29 28.9051L22.8613 22.7779L29 28.9051ZM26.2632 14.5891C26.2632 17.6628 25.0377 20.6105 22.8563 22.7839C20.675 24.9573 17.7165 26.1783 14.6316 26.1783C11.5467 26.1783 8.58816 24.9573 6.40681 22.7839C4.22547 20.6105 3 17.6628 3 14.5891C3 11.5155 4.22547 8.56776 6.40681 6.39438C8.58816 4.22099 11.5467 3 14.6316 3C17.7165 3 20.675 4.22099 22.8563 6.39438C25.0377 8.56776 26.2632 11.5155 26.2632 14.5891V14.5891Z"
              stroke="black"
              stroke-width="4.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path></svg
          >
          <input type="text" name="search" id="search" placeholder="Search" />
        </div>
      </li>
    </ul>
  </div>
  <div class="menu">
    <button aria-expanded="false" aria-controls="menu"
      ><svg
        width="27"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2.75 4.25H13.25M2.75 12.25H13.25H2.75ZM2.75 8.25H13.25H2.75Z"
          stroke="white"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </button>
  </div>
</nav>

<script>
  const toggleMenu = document.querySelector(".menu button");
  const menu = document.querySelector(".navigation ul");
  const darkModeToggle = document.querySelector(".dark-mode-toggle");
  let darkMode = localStorage.getItem("darkMode");

  const enableDarkMode = () => {
    document.body.classList.add("darkmode");
    localStorage.setItem("darkMode", "enabled");
    document.querySelector(
      ".dark-mode-toggle"
    ).innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>`;
  };

  const disableDarkMode = () => {
    document.body.classList.remove("darkmode");
    localStorage.setItem("darkMode", null);
    document.querySelector(
      ".dark-mode-toggle"
    ).innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>`;
  };

  if (darkMode === "enabled") {
    enableDarkMode();
  }

  darkModeToggle.addEventListener("click", () => {
    darkMode = localStorage.getItem("darkMode");

    if (darkMode !== "enabled") {
      enableDarkMode();
    } else {
      disableDarkMode();
    }
  });

  toggleMenu.addEventListener("click", function () {
    const open = JSON.parse(toggleMenu.getAttribute("aria-expanded"));
    toggleMenu.setAttribute("aria-expanded", !open);
    menu.hidden = !menu.hidden;

    if (!menu.hidden) {
      menu.querySelector("a").focus();
    }
  });
</script>

<style>
  .navigation {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    font-family: var(--body-bold);
    height: 62px;
  }

  .menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .menu button {
    background: none;
    border: none;
    padding-top: 10px;
  }

  .input-serach {
    position: relative;
  }

  .input-serach svg {
    position: absolute;
    left: 15px;
    top: 48%;
    transform: translate(-50%, -50%);
  }

  .logo {
    color: white;
  }

  nav ul {
    margin: 0;
    padding: 30px 0px 0px 0px;
    list-style-type: none;
    width: 100%;
  }

  nav li {
    margin: 1em 0 0 1em;
    border-bottom: 1px solid grey;
  }

  nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }

  input {
    margin: 5px;
    border: none;
    width: 100%;
  }

  input#search {
    text-indent: 20px;
    height: 51px;
  }

  .nav-link-icon svg {
    display: inline;
  }

  li.nav-link-search {
    display: none;
  }
  li.nav-link-home {
    display: block;
  }

  li.nav-link-icon {
    border-bottom: none;
  }

  li.nav-link-login {
    display: none;
  }

  .nav-link-dm {
    display: none;
  }

  @media screen and (min-width: 650px) {
    .navigation {
      background-color: black;
      text-align: center;
      z-index: 999;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 40px;
      align-items: center;
    }

    .logo {
      display: flex;
      justify-content: flex-start;
    }
    button {
      /* display: none; */
      color: white;
    }

    .menu {
      display: none;
    }

    nav ul {
      display: flex;
      padding-top: 0;
    }

    nav li {
      border-bottom: none;
      margin: 0;
      padding-right: 40px;
    }

    li.nav-link-icon {
      display: none;
    }

    li.nav-link-search {
      display: block;
      padding-right: 0px;
    }

    li.nav-link-home {
      display: none;
    }

    li.nav-link-login {
      display: block;
    }

    .nav-link-dm {
      display: block;
      color: white;
      cursor: pointer;
    }

    .dark-mode-toggle {
      text-decoration: none;
      border: none;
      background: none;
      font-size: 20px;
      cursor: pointer;
    }
  }

  @media screen and (min-width: 1000px) {
    .navigation {
      padding: 0 80px;
    }
  }
</style>
