---
import Logo from '../components/Logo.astro';
---

<nav class="navigation">
  <div class="max-w-wrapper">
    <div class="logo-small">
      <Logo />
    </div>
    <div class="hamburger-card" hidden>
      <div class="mobile-bg">
        <img src="/src/images/Frame.png" alt="" />
        <div class="logo-large">
          <Logo />
        </div>
      </div>
      <div class="mobile-info-container">
        <button class="close-button">
          <svg
            width="25"
            height="24"
            viewBox="0 0 25 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1.71463 1.71418C2.0408 1.38808 2.43699 1.15869 2.81604 1.07649C3.19509 0.994282 3.52595 1.06599 3.73584 1.27583L22.729 20.2648C22.9389 20.4747 23.0106 20.8055 22.9284 21.1844C22.8462 21.5634 22.6167 21.9595 22.2906 22.2856C21.9644 22.6117 21.5682 22.8411 21.1892 22.9233C20.8101 23.0055 20.4792 22.9338 20.2694 22.724L1.27619 3.73494C1.0663 3.5251 0.99458 3.19431 1.0768 2.81534C1.15903 2.43638 1.38846 2.04028 1.71463 1.71418Z"
              fill="#F2F2F2"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M22.2906 1.71418C21.9553 1.37889 21.5503 1.14068 21.1647 1.05198C20.7791 0.963267 20.4446 1.03132 20.2347 1.24116L1.24158 20.2302C1.03169 20.44 0.963625 20.7745 1.05235 21.1599C1.14108 21.5454 1.37934 21.9503 1.7147 22.2856C2.05007 22.6209 2.45508 22.8591 2.84063 22.9478C3.22619 23.0365 3.5607 22.9685 3.77059 22.7586L22.7638 3.76962C22.9736 3.55978 23.0417 3.22533 22.953 2.83987C22.8643 2.4544 22.626 2.04948 22.2906 1.71418Z"
              fill="#F2F2F2"></path>
          </svg>
        </button>
        <ul class="mobile-ul">
          <li class="nav-link"><a href="#">Hem</a></li>
          <li class="nav-link"><a href="#">LABS</a></li>
          <li class="nav-link"><a href="#">Partners</a></li>
          <li class="nav-link"><a href="#">Om oss</a></li>
          <li class="nav-link"><a href="#">Kontakt</a></li>
          <!-- <li class="nav-link-dm">
            <button class="dark-mode-toggle" aria-label="toggle scheme color"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-moon"
                ><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"
                ></path></svg
              ></button
            >
          </li> -->
        </ul>
        <div class="user-login-mobile">
          <a class="member" href="">Bli medlem</a>
          <a class="login" href="">Logga in</a>
        </div>
      </div>
    </div>
    <div class="menu">
      <button aria-expanded="false" aria-controls="menu">
        <span class="hamburger-1"></span>
        <span class="hamburger-2"></span>
        <span class="hamburger-3"></span>
      </button>
    </div>
  </div>
</nav>

<script>
  const toggleMenu = document.querySelector('.menu button');
  const closeButton = document.querySelector('.close-button');
  const menu = document.querySelector('.hamburger-card');
  // const darkModeToggle = document.querySelector(".dark-mode-toggle");
  // let darkMode = localStorage.getItem("darkMode");

  // const enableDarkMode = () => {
  //   document.body.classList.add("darkmode");
  //   localStorage.setItem("darkMode", "enabled");
  //   document.querySelector(
  //     ".dark-mode-toggle"
  //   ).innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>`;
  // };

  // const disableDarkMode = () => {
  //   document.body.classList.remove("darkmode");
  //   localStorage.setItem("darkMode", null);
  //   document.querySelector(
  //     ".dark-mode-toggle"
  //   ).innerHTML = `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>`;
  // };

  // if (darkMode === "enabled") {
  //   enableDarkMode();
  // }

  // darkModeToggle.addEventListener("click", () => {
  //   darkMode = localStorage.getItem("darkMode");

  //   if (darkMode !== "enabled") {
  //     enableDarkMode();
  //   } else {
  //     disableDarkMode();
  //   }
  // });

  toggleMenu.addEventListener('click', function () {
    const open = JSON.parse(toggleMenu.getAttribute('aria-expanded'));
    toggleMenu.setAttribute('aria-expanded', !open);
    menu.hidden = !menu.hidden;

    // if (!menu.hidden) {
    //   menu.querySelector('button').focus();
    // }
  });

  closeButton.addEventListener('click', function () {
    const open = JSON.parse(toggleMenu.getAttribute('aria-expanded'));
    toggleMenu.setAttribute('aria-expanded', !open);
    menu.hidden = !menu.hidden;

    // if (!menu.hidden) {
    //   menu.querySelector('button').focus();
    // }
  });
</script>

<style>
  .navigation {
    background-color: black;
    width: 100%;
    height: 62px;
  }

  ul a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }

  .max-w-wrapper {
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 16px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    font-family: var(--body-bold);
  }

  .hamburger-1 {
    display: block;
    width: 10px;
    height: 8px;
    background-color: #f82250;
    margin: 4px;
    margin-right: 0px;
  }

  .hamburger-2 {
    display: block;
    width: 10px;
    height: 8px;
    background-color: #f7e733;
    margin: 4px;
    margin-right: 0px;
  }

  .hamburger-3 {
    display: block;
    width: 10px;
    height: 8px;
    background-color: #6ac5e2;
    margin: 4px;
    margin-right: 0px;
  }

  .hamburger-card {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: black;
  }

  .close-button {
    text-decoration: none;
    background-color: #000;
    border: none;
    padding: 7px 0 7px 7px;
    position: absolute;
    top: 5%;
    right: 16px;
    cursor: pointer;
  }

  .mobile-bg {
    position: relative;
    height: 320px;
  }

  .mobile-bg img {
    height: 320px;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }

  .logo-medium {
    display: none;
  }

  .logo-small {
    display: block;
  }

  .logo-large {
    display: block;
    position: absolute;
    left: 24px;
    bottom: 8px;
    z-index: 3;
  }

  .nav-login {
    display: none;
  }

  .mobile-info-container {
    height: calc(100% - 320px);
    position: relative;
  }

  /* .moible-info-container ul {
    position: absolute;
    left: 24px;
    list-style-type: none;
    width: 100%;
  } */

  .mobile-ul {
    position: absolute;
    left: 24px;
    list-style-type: none;
    width: 70%;
    padding-left: 0;
    padding-top: 16px;
  }

  .user-login-mobile {
    position: absolute;
    bottom: 24px;
    right: 16px;
    font-size: 20px;
  }

  .member {
    text-decoration: none;
    color: #f82250;
    padding: 8px 16px;
    padding-right: 32px;
  }

  .login {
    text-decoration: none;
    background-color: #f82250;
    padding: 8px 16px;
    color: #fff;
  }

  .menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .menu button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px 10px;
    padding-right: 0px;
    /* padding-top: 10px; */
  }

  /* nav ul {
    margin: 0;
    padding: 30px 0px 0px 0px;
    list-style-type: none;
    width: 100%;
  } */

  /* nav li {
    margin: 1em 0 0 1em;
  } */

  .nav-link {
    padding: 16px 0;
  }

  .nav-link a {
    font-size: 24px;
    line-height: 22px;
    color: #f2f2f2;
    font-family: var(--heading);
  }

  .nav-link a:focus {
    color: #000;
    background-color: #f7e733;
    padding: 4px;
    font-size: 30px;
  }

  .nav-link-dm {
    display: none;
  }

  /* @media screen and (min-width: 1000px) {
    .navigation {
      padding: 0 80px;
    }
  } */
</style>
