<section title="not found">
  <div class="wrapper">
    <h1>404</h1>
    <p>Uh Oh! We couldn't find the page you were looking for</p>
    <a href="/">Return Home</a>
  </div>
</section>

<style>
  section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
