---
export interface Props {
  image: string;
  label: string;
}

const { image, label } = Astro.props;
---

<div class="item">
  <img src={image} alt="" draggable="false" />
  <div class="label-wrapper">
    <p>{label}</p>
  </div>
</div>

<style>
  .item {
    width: 215px;
    height: 98%;
    top: 1%;
    position: relative;
    cursor: pointer;
  }

  .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .label-wrapper {
    position: absolute;
    left: 0;
    bottom: 12%;
    background-color: #f7e733;
  }

  .label-wrapper p {
    font-family: var(--heading);
    font-size: 28px;
    padding: 0 8px;
    color: #000;
  }

  @media screen and (min-width: 450px) {
    .item {
      width: 350px;
    }

    .label-wrapper p {
      font-size: 40px;
    }
  }

  @media screen and (min-width: 1000px) {
    .item {
      width: 550px;
    }

    .label-wrapper p {
      font-size: 62px;
    }
  }
</style>
