---
export interface Props {
  image: string;
}

const { image } = Astro.props;
---

<div class="item">
  <img src={image} alt="" loading="lazy" draggable="false" />
</div>

<style>
  .item {
    width: 250px;
    height: 98%;
    top: 1%;
  }

  .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @media screen and (min-width: 600px) {
    .item {
      width: 350px;
    }
  }
</style>
